<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>

    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
            list-style: none;
        }

        body {
            background-color: #ddd;
        }

        .container {
            max-width: 860px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .container form {
            background-color: rgb(31, 121, 255);
            border-radius: 5px;
            padding: 1rem;
        }

        .container label {
            font-size: large;
        }

        .container input {
            border: 0px;
            border-radius: 10px;
            padding: 5px;
        }

        .container input:last-child {
            width: 100%;
        }

    </style>

</head>
<body>
    
    <div class="container">

        <h1>Edit Blog</h1>

        <form action="/edit/<%= doc._id %>" method="post">
            <label for="">Edit Blog</label><br><br>
            <label for="">new Title : </label>
            <input type="text" name="title" required><br><br>
            <label for="">new Description : </label>
            <input type="text" name="description"><br><br>
            <input type="submit">
        </form>
        
    </div>

</body>
</html>